# front end ignore list

/node_modules
/public

# IDE ignore list

/.idea
.iml
*.class
speech-rank.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/


# added by GitSavvy
/build/
