<header>
	<div class="container">
	    <div class="navbar-header">
	    	<a href="#/" class="logo">
	    		SPEECH <strong>RANK</strong>
	    	</a>
	    </div>
		<nav class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><i class="icon-user-1"></i><div class="user">{{user.username}}</div></li>
				<li><button class="btn btn-default">Logout</button></li>
			</ul>
		</nav>
	</div>
</header>

<ui-view></ui-view>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="grey">SPEECH <strong>RANK</strong> © 2016</p>
			</div>
		</div>
	</div>
</footer>
