<header>
	<div class="container">
		<nav class="navbar navbar-default">
		    <div class="navbar-header">
		    	<a href="#/" class="logo">
		    		SPEECH <strong>RANK</strong>
		    	</a>
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
	              <i class="icon-menu"></i>
	            </button>
		    </div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/">Home</a></li>
					<li><a href="#/"><i class="icon-user-1"></i>{{user.username}}</a></li>
					<li><a href="#/">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>

<ui-view></ui-view>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="grey">SPEECH <strong>RANK</strong> © 2016</p>
			</div>
		</div>
	</div>
</footer>
